<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Raj</h2>
            <h4>Raj@testmail.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
    </div>
    <mat-divider></mat-divider>
    
    <a class="btn" mat-list-item routerLink="/" routerLinkActive="list-item-active" ><mat-icon>dashboard</mat-icon>Dashboard</a>
    <a class="btn" mat-list-item routerLink="/Admin" routerLinkActive="list-item-active" ><mat-icon>account_circle</mat-icon>Admin</a>
    <a class="btn" mat-list-item routerLink="/User-Information" routerLinkActive="list-item-active" ><mat-icon>info</mat-icon>User-Information</a>
    <a class="btn" mat-list-item routerLink="/Useful-Links" routerLinkActive="list-item-active" ><mat-icon>link</mat-icon>Useful-Links</a>
    <a class="btn" mat-list-item routerLink="/Technical-Support" routerLinkActive="list-item-active" ><mat-icon>contact_support</mat-icon>Technical-Support</a>
    <a class="btn" mat-list-item routerLink="/Contacts" routerLinkActive="list-item-active" ><mat-icon> call</mat-icon>Contact</a>

    
</mat-nav-list>
