<mat-card class="border">
    <mat-card-title>Useful Links</mat-card-title>
    <mat-divider></mat-divider>

    <a href="https://digital-team-805wb.certainteed.com/hronboarding/"><h3 class="sub-title">Saint-Gobain Website</h3></a>
    <a href="https://digital-team-805wb.certainteed.com/hronboarding/"><h3 class="sub-title">Saint-Gobain North America Website</h3></a>
    <a href="https://digital-team-805wb.certainteed.com/hronboarding/"><h3 class="sub-title">Saint-Gobain North America Corp Portal</h3></a>
    <a href="https://digital-team-805wb.certainteed.com/hronboarding/"><h3 class="sub-title">CertainTeed Website</h3></a>
    <a href="https://digital-team-805wb.certainteed.com/hronboarding/"><h3 class="sub-title">CertainTeed Portal</h3></a>
    <a href="https://digital-team-805wb.certainteed.com/hronboarding/"><h3 class="sub-title">Saint-Gobain Employee Self-Service Portal</h3></a>
    <a href="https://digital-team-805wb.certainteed.com/hronboarding/"><h3 class="sub-title">Saint-Gobain Careers Website</h3></a>
  


</mat-card>
