<div class ="border">
    <div fxLayout="row"  fxLayoutGap="70px">
        <mat-card class="example-card">
            <mat-card-header class="header">                  
                <mat-card-title >Pre-Arrival Actions</mat-card-title>                    
            </mat-card-header>                      
             <mat-divider></mat-divider>             
             <table>                
                <tr>
                    <div class="sub-title" fxLayout="row" fxLayoutGap="45%">
                        <td>Action/task</td>
                        <td>Status</td>    
                    </div>                      
                </tr>                
                <tr>         
                  <td>Tax Paperwork:</td>
                  <td><button mat-flat-button class="mat-pending">Pending</button></td>         
                </tr>
                <tr>
                  <td>PC Setup:</td>
                  <button mat-flat-button class="mat-complete">Complete</button>             
                </tr>            
              </table>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header class="header">                  
                <mat-card-title >1st Day</mat-card-title>                    
            </mat-card-header>                      
             <mat-divider></mat-divider>             
             <table>                
                <tr>
                    <div class="sub-title" fxLayout="row" fxLayoutGap="45%">
                        <td>Action/task</td>
                        <td>Status</td>    
                    </div>                      
                </tr>                
                <tr>         
                  <td>Security Badge:</td>
                  <td><button mat-flat-button class="mat-pending">Pending</button></td> 
                         
                </tr>
                <tr>
                  <td>Company Codes:</td>
                  <button mat-flat-button class="mat-complete">Complete</button>             
                </tr>            
              </table>
        </mat-card> 
        <mat-card class="example-card">
            <mat-card-header class="header">                  
                <mat-card-title >Week #1</mat-card-title>                    
            </mat-card-header>                      
             <mat-divider></mat-divider>             
             <table>                
                <tr>
                    <div class="sub-title" fxLayout="row" fxLayoutGap="45%">
                        <td>Action/task</td>
                        <td>Status</td>    
                    </div>                      
                </tr>                
                <tr>         
                  <td>Security Badge:</td>
                  <td><button mat-flat-button class="mat-pending">Pending</button></td>         
                </tr>
                <tr>
                  <td>Company Codes:</td>
                  <button mat-flat-button class="mat-complete">Complete</button>             
                </tr>            
              </table>
        </mat-card> 
  
    </div>   
      
</div>
