<mat-card class="border">
    <mat-card-title>Technical Support</mat-card-title>
    <mat-divider></mat-divider>

    <h3 class="sub-title">SGTS Service Desk</h3>
  <p>SGTS Service Desk
    Provides support for things like computers, software installs on PC, computer password issues, company cell phones, VPN, network & email issues, etc.</p>

    <h3 class="sub-title">SGNA Application Service Desk</h3>
  <p>Provides support for applications such as CT Portal/SharePoint, SAP, Loftware, SalesForce, web applications, etc</p>


</mat-card>